.site_title{
  font-style: bold;
  width: 100%;
  height: 70px;
  background-color: maroon;
  padding-top: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 40px;
  font-style: italic;
}

nav {
  width: 100%;
  height: 70px;
  background-color: dimgray;
  padding-top: 5px;
  box-sizing: border-box;
}

/* nav:hover li a{
  background-color: red;
  } */

nav ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.display_user_name{
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: gold;
  margin-right: 35px;
}

.center {
  text-align: center;
}
  
.page_title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.login_form{
  font-weight: bold;
  padding: 32px;
  text-align: center;
  justify-content: center;
}

.login_form label{
  background-color: lightcoral;
  display: inline-block;
  font-weight: bold;
  width: 150px;
  color: #333;
}

.login_form input{
  background-color: lightblue;
  text-align: left;
  font-size: 20px;
  width: 300px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-left: 16px;
}

.login button{
  background: royalblue;
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  min-width: 80px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-group{
  margin-bottom: 12px;
}

.container{
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  table-layout: fixed;
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  color: #353535;
}

.table thead {
  background: #d3edeb;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.input_error {
  color: red;
  font-weight: bold;
}

.complete_message {
  color: red;
  font-weight: bold;
}